body{
    font-size: 18px;
    font-family: 'Hanken Grotesk';
    color: hsla(0, 0%, 100%, 0.548);
    font-weight: 500;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.card {
    margin: auto;
    display: flex;
    background-color: white;
    box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.score-card {
    width: 250px;
    background: linear-gradient(180deg,hsl(252, 100%, 67%), hsl(241, 81%, 54%) );
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-size: 1.1rem;
    font-weight: 100;
    padding: 10px 0;
    color: white;
}

.points {
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.points h2 {
    font-size: 3.5rem;
    margin: 0;
}

.score-card h2 {
    color: white;
    margin-bottom: 0;
}

h2 + p {
    margin: 0;
    font-size: 0.7rem;
}

p.info-text {
    text-align: center;
    font-size: 15px;
    margin: 20px;
    margin-top: 10px;
}

.summary-card {
    color: black;
    text-align: center;
    min-width: 250px;
    padding: 25px;
    box-sizing: border-box;
}

.summary-card h2{
    text-align: left;
    font-size: 1.2rem;
    padding: 0px;
    margin: 5px 0px 20px 0px;
    color: hsl(224, 30%, 27%);
}

.category {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 15px;
    border-radius: 5px;
}

.rea {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 10%);
}

.mem {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 10%);
}

.ver {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 10%);
}

.vis {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 10%);
}

.category img {
    margin-right: 10px;
    height: 1.05rem;
    align-self: center;
}
.category p {
    margin: 0;
    display: flex;
}

#points-per-category {
    color: hsl(224, 30%, 27%);
    margin-right: 5px;
}

#total-points-cat {
    color: hsla(224, 30%, 27%, 0.582);
}

button {
    width: 100%;
    margin-top: 30px;
    padding: 5px;
    border-radius: 50px;
    border: 0px;
    height: 2.5rem;
    background-color: hsl(224, 30%, 27%);
    color: white;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(180deg,hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 545px) {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    body {
        justify-content: flex-start;
    }

    .card {
        flex-direction: column;
        box-shadow: none;
        border-radius: 0px;
        margin: 0px;
    }

    .score-card {
        width: 100%;
        padding: 20px;
        border-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .summary-card {
        width: auto;
        padding: 25px;
    }

    button {
        margin: 0px;
    }
}